@charset "UTF-8";

html, body, #container{
	height: auto;
	margin: 0px;
	padding: 0px;
}

#menu{
	margin-bottom: 3em;
	
}

#container{
	
}

#footer{
	margin-top: 5em;
	overflow-x: hidden;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

#lista{
	margin-left:1em;
	margin-top:2em;
	width:50%;
	float:left;
}


#divInserisciItem{
	margin-top:2em;
	margin-right:2em;
	margin-left:5em;
	float:left;
	width:40%;
	
}

.myButton {
	background-color:#ebd700;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

.myButton:hover {
	background-color:#dec804;
}
.myButton:active {
	position:relative;
	top:1px;
}

#btnAdd{
	margin-left:30em;
	margin-top:1em;
	margin-bottom:2em;
	width:auto;
}

#btnAddNo{
	display:none;
}

.btnMod{
	background-color:#DEDED6;
	cursor: pointer;
}

.btnMin{
	background-color:#DEDED6;
	cursor: pointer;
}


.myButtonConfermaModifica {
	background-color:#ebd700;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

.myButtonConfermaModifica:hover {
	background-color:#dec804;
}
.myButtonConfermaModifica:active {
	position:relative;
	top:1px;
}

.myButtonAnnulla {
	background-color:#ebd700;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

.myButtonAnnulla:hover {
	background-color:#dec804;
}
.myButtonAnnulla:active {
	position:relative;
	top:1px;
}


.myButtonConfermaElimina {
	background-color:#ebd700;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

.myButtonConfermaElimina:hover {
	background-color:#dec804;
}
.myButtonConfermaElimina:active {
	position:relative;
	top:1px;
}

#successIns{
	display:none;
}

#successDel{
	display:none;
}