@charset "UTF-8";

html, body, #container{
	height: auto;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden !important;
}

#menu{
	margin-bottom: 3em;
	
}

#container{
	
}

#footer{
	margin-top: 5em;
	overflow-x: hidden;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.myButton {
	background-color:#ebd700;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}
.myButton:hover {
	background-color:#dec804;
}
.myButton:active {
	position:relative;
	top:1px;
}

#first, #second, #third{
	opacity: 0.2;
}

#first:hover{
	opacity: 1;
}

#second:hover{
	opacity: 1;
}

#third:hover{
	opacity: 1;
}