@charset "UTF-8";


html, body, #container{
	height: auto;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden !important;
}

#menu{
	margin-bottom: 3em;
	
}

#footer{
	margin-top: 5em;
	overflow-x: hidden;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.myButton {
	background-color:#ebd700;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}
.myButton:hover {
	background-color:#dec804;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2 {
	background-color:#808080;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#E5DC22;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}
.myButton2:hover {
	background-color:#737273;
}
.myButton2:active {
	position:relative;
	top:1px;
}

#button {
	background-color:#ebd700;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}
#button:hover {
	background-color:#dec804;
}
#button:active {
	position:relative;
	top:1px;
}


.buttonAssegna {
	background-color:#ebd700;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}
.buttonAssegna:hover {
	background-color:#dec804;
}
.buttonAssegna:active {
	position:relative;
	top:1px;
}


.buttonAnnulla {
	background-color:#808080;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#E5DC22;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}
.buttonAnnulla:hover {
	background-color:#737273;
}
.buttonAnnulla:active {
	position:relative;
	top:1px;
}

.buttonConfermaAnnulla {
	background-color:#ebd700;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}
.buttonConfermaAnnulla:hover {
	background-color:#dec804;
}
.buttonConfermaAnnulla:active {
	position:relative;
	top:1px;
}


.annulla {
	background-color:#ebd700;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}
.annulla:hover {
	background-color:#dec804;
}
.annulla:active {
	position:relative;
	top:1px;
}