@charset "UTF-8";

html, body, #container{
	height: auto;
	margin: 0px;
	padding: 0px;
}

#menu{
	margin-bottom: 3em;
	
}

#container{
	
}

#footer{
	margin-top: 5em;
	overflow-x: hidden;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

#form-box{
	margin-left: 2em;
	margin-right: 2em;
}

#row{
	width:100%;
	height: auto;
	margin-left: 1em;
	margin-top: 1em;
	border-style:solid; 
	border-color:#CCCCCC; 
	border-width:1px;
}

#radio{
	margin-top:49px;
	margin-left:1em;
	margin-right:1em;
}

#checkbox{
	margin-top:49px;
	margin-left:1em;
	margin-right:1em;
}

img{ 
	margin-top:1em;
	margin-right:1em;
	width: 200px; 
	height: 100px; 
}


.myButton {
	background-color:#ebd700;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

.myButton:hover {
	background-color:#dec804;
}
.myButton:active {
	position:relative;
	top:1px;
}

#datisx{
	left:0;
	width:60%;
	float:left;
}

#mappa{
	margin-left:3em;
	width:auto;
	float:left;
}

#monitorDatisx{	
	margin-left:1em;
	margin-top:1em;
	margin-bottom:1em;
	float:left;
	width:40%;
	
}
#monitorDatidx{	
	margin-top:1em;
	margin-left:2em;
	margin-bottom:1em;
	width:50%;	
	float:left;
}

#sensoriRobot{
	margin-top:2em;
	
}

img{ 
	margin-left:2em;
	margin-top:1em;
	margin-right:1em;
	width: 450px; 
	height: 350px; 
}

.myButtonDark{
	background-color:#DEDED6 !important;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}


.myButtonDark:hover {
	background-color:#dec804;
}
.myButtonDark:active {
	position:relative;
	top:1px;
}


#dispositivi{
	margin-top:2em;
	border:2px solid red;
}


#sensori{	
	margin-left:1em;
	margin-top:1em;
	margin-bottom:1em;
	float:left;
	width:40%;
	
}
#robot{	
	margin-top:1em;
	margin-left:2em;
	margin-bottom:1em;
	width:50%;	
	float:left;
}


#divBtnAzioni{
	margin-top:1em;
}

