@charset "UTF-8";

html, body, #container{
	height: auto;
	margin: 0px;
	padding: 0px;
}

#menu{
	margin-bottom: 3em;
	
}

#container{
	
}

#footer{
	margin-top: 5em;
	overflow-x: hidden;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

#form-box{
	margin-left: 2em;
	margin-right: 2em;
}

#row{
	width:100%;
	height: auto;
	margin-left: 1em;
	margin-top: 1em;
	border-style:solid; 
	border-color:#CCCCCC; 
	border-width:1px;
}

#radio{
	margin-top:49px;
	margin-left:1em;
	margin-right:1em;
}

#checkbox{
	margin-top:49px;
	margin-left:1em;
	margin-right:1em;
}

img{ 
	margin-top:1em;
	margin-right:1em;
	width: 200px; 
	height: 100px; 
}


.myButton {
	background-color:#ebd700;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

.myButton:hover {
	background-color:#dec804;
}
.myButton:active {
	position:relative;
	top:1px;
}

#datisx{
	left:0;
	width:60%;
	float:left;
}

#mappa{
	margin-left:3em;
	width:auto;
	float:left;
}

#monitorDatisx{	
	margin-left:1em;
	margin-top:1em;
	margin-bottom:1em;
	float:left;
	width:40%;
	
}
#monitorDatidx{	
	margin-top:1em;
	margin-left:2em;
	margin-bottom:1em;
	width:50%;	
	float:left;
}

#sensoriRobot{
	margin-top:2em;
	
}

img{ 
	margin-left:2em;
	margin-top:1em;
	margin-right:1em;
	width: 450px; 
	height: 350px; 
}

.myButtonDark{
	background-color:#DEDED6 !important;
	border-radius:8px;
	border:2px solid #030200;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}


.myButtonDark:hover {
	background-color:#dec804;
}
.myButtonDark:active {
	position:relative;
	top:1px;
}


#dispositivi{
	margin-top:2em;
	border:2px solid red;
}


#sensori{	
	margin-left:1em;
	margin-top:1em;
	margin-bottom:1em;
	float:left;
	width:40%;
	
}
#robot{	
	margin-top:1em;
	margin-left:2em;
	margin-bottom:1em;
	width:50%;	
	float:left;
}


#divBtnAzioni{
	margin-top:1em;
}

#tableSensori{
	margin-left:4em;
}

.sensorDiv{
	margin-bottom:1em;
}

/* div scrollbar */
.scrollbar-deep-purple::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-deep-purple::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-deep-purple::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #3F565A; }

.scrollbar-deep-purple {
scrollbar-color: #3F565A #F5F5F5;
}

.scrollbar-cyan::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-cyan::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-cyan::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #3F565A; }

.scrollbar-cyan {
scrollbar-color: #3F565A #F5F5F5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-dusty-grass::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-ripe-malinka::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
background-image: linear-gradient(120deg, #3F565A 0%, #3F565A 100%); } /*colore menu*/

.bordered-deep-purple::-webkit-scrollbar-track {
-webkit-box-shadow: none;
border: 1px solid #3F565A; }

.bordered-deep-purple::-webkit-scrollbar-thumb {
-webkit-box-shadow: none; }

.bordered-cyan::-webkit-scrollbar-track {
-webkit-box-shadow: none;
border: 1px solid #3F565A; }

.bordered-cyan::-webkit-scrollbar-thumb {
-webkit-box-shadow: none; }

.square::-webkit-scrollbar-track {
border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
border-radius: 0 !important; }

.thin::-webkit-scrollbar {
width: 6px; }

.example-1 {
position: relative;
overflow-y: scroll;
height: 300px; }
